$pink:          #fb1021;
$d-pink:        #fd405e;
$dull-pink:     #f57a7d;
$brown-pink:    #a4837c;
$black:         #151011;
$dark-grey:     #5b4e4c;
$light-grey:    #ada5a5;
$lighter-grey:  #f3ebeb;
$white:         #fff;