@import "fonts";
@import "colors";
@import "reset.min";
@import "utilities";
@import "sections/header";
@import "sections/splash";
@import "sections/new-arrivals";
@import "sections/feature-ring";
@import "sections/grid-collection";
@import "sections/row-collection";
@import "sections/blog-collection";
@import "sections/contact";
@import "sections/footer";


//shared
//flex stuff & alignment
.center-all-flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-row{
  flex-direction: row;
}

.flex-column{
  flex-direction: column;
}

.center{
  text-align: center;
}

//font stuff
.main-font{
  font-family: $main-font;
}

.sub-font{
  font-family: $sub-font;
  color: $light-grey;
}

.section-header{
  font-size: 2em;
  line-height: .7;
}

//grid stuff
.grid-collection{
  width: 290px;
  height: 280px;
  border: 1px solid $lighter-grey;
  background-color: $white;
  img{
    height: 50%;
  }
  h2{
    font-size: 1.2em;
  }
  h3{
    font-size: .8em;
    margin-bottom: 20px;
  }
  div{
    h4{
      color: $lighter-grey;
      .collection-price{
        color: $light-grey;
        padding-right: 6px;
      }
      .collection-link{
        border-left: 1px solid $lighter-grey;
        padding: 3px 10px;
        a{
          font-size: .9em;
          color: $pink;
        }
        i{
          color: $light-grey;
          font-size: .75em;
        }
      }
    }

  }
}

.grid-collection-square{
  width: 290px;
  height: 280px;
}

//etc
.half-btn{
  color: $white;
  border: 1px solid $white;
  padding: 15px;
  i{
    padding-right: 15px;
  }
}

.half-btn-pink{
  color: $pink;
  border: 1px solid $pink;
  padding: 15px;
  i{
    padding-right: 15px;
  }
}

.pagination{
  .active-page{
    color: $white;
    text-decoration: underline;
  }
  .inactive-page{
    color: $white;
    opacity: .5;
  }
}

.pagination-dark{
  display: flex;
  justify-content: flex-end;
  margin-right: 300px;
  a{
    margin: 0 5px;
  }
  .active-page{
    color: $dark-grey;
    text-decoration: underline;
  }
  .inactive-page{
    color: $light-grey;
    opacity: .5;
  }
}

.section-gem{
  padding: 10px;
  position: absolute;
  top: -20px;
  left: 50%;
  display: inline-block;
  border: 1px solid $lighter-grey;
  transform: rotate(45deg);
  i{
    color: $lighter-grey;
    transform: rotate(-45deg);
  }
}

