@import "../colors";

#container-blog-collection{
  background-color: $lighter-grey;
  text-align: center;
  font-size: 1.25em;
  padding-top: 75px;
  h2{
    margin-bottom: 25px;
  }
  #blog-container{
    flex-wrap: wrap;
    #column-blog-left{
      width: 50%;
      display: flex;
      justify-content: flex-end;
      #blog-feature{
        img{
          max-width: 425px;
          max-height: 310px;
          width: 100%;
        }
        div{
          max-width: 425px;
          width: 100%;
          padding: 20px;
          text-align: left;
          background-color: $white;
          p{
            color: $dark-grey;
            font-size: .8em;
          }
          h3{
            color: $light-grey;
            font-size: .7em;
            font-weight: 100;
            padding-top: 10px;
          }
        }
      }
    }
    #column-blog-right{
      width: 50%;
      #blog-grid {
        flex-wrap: wrap;
        max-width: 550px;
        width: 100%;
        .blog-top{
          margin-bottom: 15px;
        }
        .blog-tile {
          max-width: 225px;
          width: 100%;
          img {
            max-width: 225px;
            width: 100%;
          }
          .blog-caption{
            max-width: 225px;
            width: 100%;
            background-color: $white;
            margin-top: -5px;
            p {
              padding: 10px;
              text-align: left;
              font-size: .7em;
              color: $dark-grey;
            }
          }
        }
      }
    }
  }

  #blog-btn{
    justify-content: flex-end;
    margin-right: 260px;
    .half-btn-pink{
      font-size: .65em;
      margin: 30px 0;
    }
  }
  @media screen and (max-width: $tablet-max){
    padding-bottom: 50px;
    #blog-container{
      #column-blog-left{
        justify-content: center;
        width: 100%;
        #blog-feature{
          img{
            width: 80%;
          }
          #feature-content{
            width: 80%;
          }
        }
      }
      #column-blog-right{
        width: 100%;
        margin-top: 50px;
        #blog-grid{
          justify-content: space-evenly;
          .blog-top{
            margin: 0;
          }
          .blog-tile{
            margin-bottom: 15px;
          }
        }
      }
    }
    #blog-btn{
      width: 100%;
      margin-left: 10%;
      justify-content: flex-start;
      @media screen and (max-width: $tablet-max) {
        width: 80%;
      }
    }
  }
}