@import "../colors";

#container-new-arrivals{
  padding: 55px 0;
  border-bottom: 1px solid $lighter-grey;
  h2{
    margin-bottom: 55px;
  }
  #new-arrival-items{
    @media screen and (max-width: $tablet-max) {
      display: flex;
      flex-wrap: wrap;
    }
    div{
      img{
        width: 80%;
      }
    }
    #center-item{
      margin: 0 100px;
    }
  }
}