@import "../colors";
@import "../fonts";

#container-splash{
  height: 90vh;
  padding: 15vw;
  position: relative;
  justify-content: center;
  background-image: url("../assets/splash-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: $white;
  @media screen and (max-width: $tablet-max){
    align-items: center;
    #splash-content{
      margin-left: 0;
      h1{
        #splash-tag1{
          font-size: 7vw;
        }
        #splash-tag2 {
          margin: -6.5vw 0 60px;
          font-size: 18vw;
        }
      }
    }
  }
  @media screen and (max-width: $phone){
    background-position: center;
    background-size: 300vh;
    #splash-content{
      margin-left: -25vw;
      h1{
        #splash-tag1{
          font-size: 9vw;
        }
        #splash-tag2{
          margin-top: -9.75vw;
          font-size: 25vw;
        }
      }
    }
    #splash-pagination{
      display: none;
    }
  }
  div{

    h1{
      #splash-tag1{
        font-size: 4.75vw;
        font-family: $main-font;
      }
      #splash-tag2{
        display: block;
        margin: -4.75vw 0 60px;
        font-size: 12.5vw;
        font-family: $fancy-font;
        #d-span{
          -webkit-text-stroke: 1px transparent;
          text-shadow:
                  -2px -2px 0 $d-pink,
                  2px -2px 0 $d-pink,
                  -2px 2px 0 $d-pink,
                  2px 2px 0 $d-pink;
        }
      }
    }
  }
  #splash-pagination{
    position: absolute;
    justify-self: end;
    bottom: 55px;
    left: 15vw;
  }
}